.test {
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
}

.pri {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
}

.sec {
    background-color: #e91111; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
}

.pri:hover,
.sec:hover {
    cursor: pointer;
}

.hidden {
    background-color: rgba(0, 0, 0, 0.1); 
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 3px;
}

.smol {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
}


body,html {
    width:100%;height:100%;margin:0
}